*{
    margin: 0px;
    padding:10px;
    outline: 0;
    border: 0;
background-col: #0cb689;

    
    
}
.navbar{
    width: 100%;
    background-color: #1c1c1e;
    color: #fff;
    padding: 15px 75px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.navbar .navbar-logo,img{
    font-size: 35px;
    color: #10a37f;
}
.navbar ul{
    list-style:none;
    gap: 25px;
    display: flex;

}
.navbar ul li{
    position: relative;   
}
.navbar ul li a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    transition: 0.3s ease;
}
.navbar ul li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #10a37f;
    transition: 0.3s ease;
}
.navbar ul li a:hover{
    color: #10a37f;

}
.navbar ul li a:hover::before{
    width: 100%;
}


body{
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    background: yellow;
}
h1{margin-bottom: 2rem;
    color: rgb(15, 5, 5);
  text-shadow: 2px 2px 4px #000000;

}

form{
    display: flex;
    flex-direction: column;
    width: 12cm;
    padding: 10px 20px;
    border-radius: 10px;
    gap: 1rem;
    background: linear-gradient(45deg, dodgerblue,white,purple);

    
    
}
label{
    width: 140px;
    display: inline-block;
    margin: 0.2cm;
    font-size: 16px;
    font-weight: bold;
}
input,select{
   padding: 4px;
   margin: 5px;
   font-size: 16px;
   border-radius: 10px;
   background: transparent;
   border: 1px solid #f9f9f9;
   width: 7cm;
   background: rgb(218, 176, 12);

   
   

}
button{
    margin-top: 7px;
    color: #f7f1f1;
    font-weight: bold;
    padding:10px 30px ;
    border-radius: 6px;
    background: #7d2ae8;
    transition: all 0.2s ease;

}
button:active{
    transform: scale(0.96);
}
